.card button {
  width: 100%;
  padding: 5px 0;
}
.card button {
  width: 100%;
  padding: 5px 0;
}

.card header {
  width: 100%;
  padding: 5px 0;
  background: lightgray;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
